<h2>Wedding Day Events</h2>
<p>
  All festivities will take place at
  the <a href="https://www.endicottestate.com/">Endicott Estate</a>
  in Dedham, MA. See <a href="/travel.html">Travel</a> for more
  information.
</p>
<div class="event-schedule">
  <h3>Ceremony</h3>
  <p class="event-time"><em>4:30 - 5:00pm</em></p>

</div>
<p>
  We tie the knot and say our vows! Weather pending it will take
  place on the Endicott lawn.
</p>
<div class="event-schedule">
  <h3>Cocktail Hour</h3>
  <p class="event-time"><em>5:00 - 6:00pm</em></p>
</div>
<p>
  Grab a drink, catch up with old friends, and make some new
  ones before dinner.
</p>
<div class="event-schedule">
  <h3>Reception</h3>
  <p class="event-time"><em>6:00 - 10:00pm</em></p>

</div>
<p>
  There will be a plated dinner inside followed
  by an evening of dancing!
</p>
