<h2>Website License</h2>
<p>
  Unless otherwise specified, all code for the website is
  licensed under the <a href="/LICENSE">MIT license</a> and can be
  found <a href="https://git.sr.ht/~akarle/jennex">here</a>.
</p>
<p>A few notable exceptions:</p>
<ul>
  <li>
    Photos and content are not open source (all rights reserved).
  </li>
  <li>
    The cursive font in the title, which is the
    <a href="https://fonts.google.com/specimen/Allura">Allura font</a>,
    is licensed under the <a href="/static/OFL.txt">Open Font License</a>.
  </li>
  <li>
    The favicon emoji is part of the
    <a href="https://twemoji.twitter.com/">Twemoji</a>
    project and is licensed under the
    <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>
    license. Thanks to <a href="https://favicon.io">favicon.io</a>
    for making it easy to generate!
  </li>
</ul>
