<h2>Gift Registry</h2>
<p>
  The only gift we ask for is your presence on our wedding
  day&mdash;having our friends and family travel to spend the day with
  us is more than enough! That said, if you feel strongly that
  you'd like to buy us a gift, we put together a
  <a href="http://www.zola.com/registry/jennieandalexseptember9">
    wedding registry at Zola
  </a>.
</p>
