<h2>RSVP</h2>
<h3>Deadline</h3>
<p>
Please RSVP via snail-mail by <u>August 11</u>.
Alternatively, if that's an inconvenience or if you have any questions,
please reach out to us at
<a href="mailto:rsvp@jennex.org">rsvp@jennex.org</a>.
<p>
<h3>Menu Selections</h3>
<ul>
<li>Slow Cooked Braised Beef Short Ribs</li>
<li>Herb Roasted Chicken Breast with lite Herb Au jus</li>
<li>Roasted Butternut Ravioli with Brown Butter and Sage Toss</li>
<li>Vegan Kale Gnocchi with Pea Pods, Baby Spinach, Grilled Shitake Mushrooms with Garlic and Olive Oil</li>
</ul>
<p>
All but Gnocchi served with mashed Garlic Potatoes.
All served with Italian Green Beans and Grilled Local Vegetables.
</p>
