<h2>Travel</h2>
<img src="/static/travel.jpg" alt="Alex and Jennie Roadtripping" width="100%">
<h3>Wedding Venue</h3>
<p>
  The ceremony and reception will both be at
  the <a href="https://www.endicottestate.com/">Endicott Estate</a>
  in Dedham, MA:
</p>
<p class="address">
  Endicott Estate<br>
  656 East Street<br>
  Dedham, Massachusetts 02026
</p>
<p>
  <a href="https://www.google.com/maps/dir//Endicott+Estate,+656+East+St,+Dedham,+MA+02026/@42.2394849,-71.1658391,17z/">
    Google Maps Directions.
  </a>
</p>
<h3>Hotel Recommendations</h3>
<p>Coming Soon</p>
