<h2>Travel Details and Location Info</h2>
<img src="/static/travel-map.png" alt="Hotels and Other Locations Nearby" width="100%">
<h3>Wedding Venue</h3>
<p>
  The ceremony and reception will both be at
  the <a href="https://www.endicottestate.com/">Endicott Estate</a>
  in Dedham, MA:
</p>
<p class="address">
  Endicott Estate<br>
  656 East Street<br>
  Dedham, Massachusetts 02026
</p>
<p>
  <a href="https://www.google.com/maps/dir//Endicott+Estate,+656+East+St,+Dedham,+MA+02026/@42.2394849,-71.1658391,17z/">
    Google Maps Directions.
  </a>
</p>
<h3>Hotel Recommendations</h3>
<p>
We've reserved hotel blocks for 9/8 and 9/9 at the following locations
(use the links provided or call and mention the Karle/Rozenberg block
for a discounted rate)
</p>
<table class="hotels">
<tr>
<th>Booking Link</th>
<th>Price/Night</th>
<th>Distance from Venue</th>
<th>Reserve By</th>
</tr>
<tr>
<td>
<a target="_blank" href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=DDHDHHF&arrivalDate=2023-09-08&departureDate=2023-09-10&groupCode=ROZWED&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink&bm-verify=AAQAAAAG_____wavEAmxuai7GtT0xeoZjfbMB4k6O2I0_uR5sHMfE8l640FdZqoiZv8VtVWpA9foQGAvCPZjaTWHKU554uqlMDdxS1qnPziKecuiQRMDA1SVxgstWQIG1DmFozIrC_qwy8qUpS3BVYZUMYba8xSLcCiEtpbaNVxBxHUKr3h2qTIIS9N0d6NPoiV4F5S2TM_gZ_N2n-_4qyBS50eqNtpI6zHF9PNumFKAB9Z0pbFPvv-1GmSjTJDpKENfjbTFiGV-04OseAhHOiHw81EhJKu8M4wtnMkfQDMbNLE-qQAAFtidCFhLC5YiJfmkmnHIfgLf7ftou_SFDndYys6f4KU4MDyi9hxDzmLqftTilQ9T0WPdQuW9qEKeN_8O7fWbI1t4duteUxLHMEzsvBZyrY83hhlxX79k1Ku26tTq2j1N78NPFu77nDJxSIubuRNiTEq_vyUiMRHIav7s-cBDvs1mBFnxbwbwN8RJkdOAv5wQCS-KMvj_AYNWvUx4ZdjK1gR8">
Hilton Boston Dedham
</a>
</td>
<td>$179</td>
<td>2mi</td>
<td>8/8/23</td>
</tr>
<tr>
<td>
<a target="_blank" href="https://www.ihg.com/holidayinn/hotels/us/en/dedham/bosdh/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=BOSDH&qGrpCd=KRB&setPMCookies=true&qSHBrC=HI&qDest=55+Ariadne+Road%2C+Dedham%2C+MA%2C+US&srb_u=1">
Holiday Inn Boston Dedham
</a>*
</td>
<td>$169</td>
<td>2.4mi</td>
<td>8/18/23</td>
</tr>
<tr>
<td>
<a target="_blank" href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=BOSCTGI&arrivalDate=2023-09-08&departureDate=2023-09-10&groupCode=RKW&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink&bm-verify=AAQAAAAG_____5HQUX8Pf6dzKuLoyHCP2iUheHCxzLZXfNHwa0sPKWRNhgbZSeH826Br7cABvx4EiHonGci7uITRnaeWVETDJ0oPZ2h5zbYiuezKQ_Rv-Jf4xTCrTUHnQ8CTcOdBVrM9TszADVqzZWc2NdxOzf-V84ZxTW553j8So32Byou-8Vt5kMWx3YkVaXHyn3HFHRg2XFl4Lt774R4iGqM4lrszM2CQQOCmRiDWUGJEqvYqlI5QHd3rExGCYlY89szvJJlx_H22IK-en1RStbZRAgsmCSLZ7sDrBo3Ak3sRErdoh9sAC3ySXtoky9MqO8pBojZIskuoHrIpStf2i-NBgEKFrz372Kb4MRFRtSr0Jyb4GC70akvObb5-3jWTbCQpRimf6eWFtdDiW1WWVcNk5023zzJSbwQ3EdS-HD2xb99AMKaQYBDj9hJLW8WQ9nNwC0MvRNcYz19wUMGCqVFG92dW-MWlTzIzH5ve2FZuld-xw6VMOUY6SwJk4Kq5iyoK">
Hilton Garden Inn Canton
</a>
</td>
<td>$209</td>
<td>5.2mi</td>
<td>8/8/23</td>
</tr>
</table>
<p>
* The Holiday Inn link requires searching for the date, but should show a "Preferred Rate"
for 9/8 and 9/9.
</p>
